/* src/components/Modal.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modalHeader {
  font-size: 20px;
  margin-bottom: 10px;
}

.modalBody {
  margin-bottom: 20px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.btn1,
.btn2 {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn1:hover {
  background-color: rgb(240, 95, 95);
}

.btn2:hover {
  background-color: rgb(155, 250, 138);
}
